.apple-ai-down{
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
    height: 75px;
    border: 1px solid black;
}
.down-colors{
    opacity: 1;
    transform: translate3d(0,0,0)
}
.down-color{
    /* filter:blur(20px); */
    position: absolute;
    /* border-radius: 50% */
}
.down-yellow{
    width: 40vw;
    height: 50px;
    background: #fd8c1f;
    top: 100px;
    right: 10vw;
    animation: yellowAnimationDown 1.5s ease-out forwards .5s;
}
@keyframes yellowAnimationDown {
    0% {
        top: 100px;
        right: 10vw
    }

    50% {
        top: 55px
    }
    /* 只保留20的高度 */
    100% {
        top: 55px;
        right: 0
    }
}
.down-pink-one {
    width: 40vw;
    height: 150px;
    background: #ff3f98;
    top: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: .5;
    animation: pinkOneAnimationDown 2s ease-in-out forwards
}

@keyframes pinkOneAnimationDown {
    0% {
        top: -200px;
        transform: scaleX(50%) translateX(0)
    }

    25% {
        top: -110px;
        transform: scaleX(50%) translateX(0)
    }

    50% {
        top: -120px;
        transform: scaleX(225%) translateX(10%)
    }

    100% {
        top: -135px;
        background: #e44cbb;
        transform: scaleX(225%) translateX(0)
    }
}